<!doctype html>
<html ng-app>
  <head>
    <link rel="stylesheet" type="text/css" href="../bootstrap.min.css" />
    <script type="text/javascript" src="../angular.min.js"></script>
    <script src="todo.js"></script>    
    <link rel="stylesheet" href="todo.css">
  </head>
  <body>
    <h2>Todo</h2>
    <div ng-controller='TodoCtrl'>
      <span>Total todos: {{totalTodos}} remaining</span>
      [ <a href="">archive</a> ]
      <ul class="unstyled">
        <li ng-repeat="todo in todos">
          <input type="checkbox" ng-model='todo.done'>
          <span class='done-{{todo.done}}'>{{todo.text}}</span>
        </li>
      </ul>
      <form>
        <input type="text" ng-model='formTodoText' size="30" placeholder="add new todo here" ng-model-instant>
        {{formTodoText}}        
        <button class='btn' ng-click='addTodo()'><i class='icon-plus'> Add</i></button>
      </form>
    </div>
  </body>
</html>

